# R files
.Rproj.user
.Rhistory
.RData
*.html
*.Rproj
**.db

# Exclude latex help files
**.aux
**.cb
**.cb2
**.nav
**.synctex
**.synctex.gz
**.snm
**.toc
**.out
**.log
**.bbl
**.blg

# Exclude make / latexmk help files
**.fdb_latexmk
**.fls

# Exclude jabref backup
**.bak

# Exclude miscellaneous files in "misc" folder
misc/

# Exclude auxiliary files and folders in exploration folder
explorations/*_cache
explorations/*_files
explorations/*.tex

# Exclude intermediate files
**.rds
*.pdf

# EXCEPT .pdf files in input folder of paper, presentation, ..
!**/input/*.pdf

# EXCEPT paper and presentation
!**/paper/*.pdf
!**/presentation/*.pdf

# Exclude user-specific sublime text editor files
*.sublime-workspace

# Exclude singularity containers
container/
*.sqfs
*.sif

# Exclude old files in "archive" folders
**/archive/

